@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@model RecommendationListViewModel

<div class="image-background">
    <div class="overlay-text">
        Spark Your Imagination, <br>
        <span class="nowrap">Brick by Brick with <span class="colorful letter">A</span><span class="colorful letter">u</span><span class="colorful letter">r</span><span class="colorful letter">o</span><span class="colorful letter">r</span><span class="colorful letter">a</span></span>

        <a href="@Url.Action("Shop", "Home")" class="image-button target-element">
            <div class="half-break"></div>
            <img src="/lib/img/legoButton.png" alt="Button Image" />
        </a>
    </div>
</div>

<div class="parallax">
    <div class="text-box">
        @{
            var product1 = Model.First(); 
        }

        <p>Featured Build</p>
        <h2>@product1.ProductRec.Name</h2>
        <br>
        <a href='@Url.Action("ProductDetail", "Home", new { id = product1.ProductRec.ProductId })' class="ghostButton" style="text-decoration: none; color: #FFBF00;">View Details</a>
    </div>
    <div class="image-box" style="max-height: 400px; align-items: center; overflow: hidden;">
        <img src="@product1.ProductRec.ImgLink" alt="Image for @product1.ProductRec.Name" style="width: 400px; height: 400px; object-fit: contain;">
    </div>
</div>

<br><br>
<div class="container">
    <h3>Recommended</h3>
    <br><br>
    <div class="product-row">
        <div class="product-card">
        @if(User.Identity.IsAuthenticated)
        {
            @foreach (UserProductRecommendation product in Model.UserProductRecommendations)
            {
                <div class="product-card">
                    <img src="@product.ImgLink" alt="@product.Name">
                    <p>@product.Name</p>
                    <p style="font-weight: bold;">$@product.Price.ToString("0.00")</p>
                </div>
            }
        }
        else
        {
            @foreach (TopProductRecommendation product in Model.TopProductRecommendations)
            {
                <div class="product-card">
                    <img src="@product.ImgLink" alt="@product.Name">
                    <p>@product.Name</p>
                    <p style="font-weight: bold;">$@product.Price.ToString("0.00")</p>
                </div>
            }
        }

    </div>
    <br><br>
                <p>@product.ProductRec.Name</p>
                <p style="font-weight: bold;">$@product.ProductRec.Price.ToString("0.00")</p>
            </div>
        }
    </div>
    <br><br>

@*     <h3>Recommended Products</h3>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.ProductRec.ImgLink" alt="@product.ProductRec.Name" /></td>
                    <td>@product.ProductRec.Name</td>
                    <td>$@product.ProductRec.Price.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table> *@

    
    <div style="text-align: center;">
        <a href="/Home/Shop" class="button" style="text-decoration: none; color: #7A6200;">Explore</a>
    </div>

    <br><br>
</div>



