@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@model RecommendationListViewModel

<div class="image-background">
    <div class="overlay-text">
        Spark Your Imagination, <br>
        <span class="nowrap">Brick by Brick with <span class="colorful letter">A</span><span class="colorful letter">u</span><span class="colorful letter">r</span><span class="colorful letter">o</span><span class="colorful letter">r</span><span class="colorful letter">a</span></span>

        <a href="@Url.Action("Shop", "Home")" class="image-button target-element">
            <div class="half-break"></div>
            <img src="/lib/img/legoButton.png" alt="Button Image" />
        </a>
    </div>
</div>

<div class="parallax">
    <div class="text-box">
        @{
            var product1 = Model.TopProductRecommendations.First();
        }

        <p>Featured Build</p>
        <h2>@product1.Name</h2>
        <br>
        <a href="@Url.Action("ProductDetail", "Home", new { id = product1.ProductId })" class="ghostButton" style="text-decoration: none; color: #FFBF00;">View Details</a>
    </div>
    <div class="image-box" style="max-height: 400px; align-items: center; overflow: hidden;">
        <img src="@product1.ImgLink" alt="Image for @product1.Name" style="width: 400px; height: 400px; object-fit: contain;">
    </div>
</div>

<br>
<br>
<div class="container">
    <h3>Recommended</h3>
    <br><br>

    <div class="product-row">
        @if (User.Identity.IsAuthenticated)
        {
            @foreach (UserProductRecommendation product in Model.UserProductRecommendations)
            {
                <div class="product-card">
                    <img src="@product.ImgLink" alt="@product.Name">
                    <p>@product.Name</p>
                    <p style="font-weight: bold;">$@product.Price.ToString("0.00")</p>
                </div>
            }
        }
        else
        {
            <div class="products-grid">
                @for (int i = 1; i <= 4; i++)
                {
                    var product = Model.TopProductRecommendations.Skip(i).First();
                    <div class="product-row" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = product.ProductId })'" style="cursor: pointer;">
                        <div class="product-card">
                            <div style="flex: 1; max-height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                <img src="@product.ImgLink" alt="Image for @product.Name" class="image-on-right">
                            </div>
                            <p>@product.Name</p>
                            <p style="font-weight: bold;">$@product.Price.ToString("0.00")</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <br><br>
</div>

<div style="text-align: center;">
    <a href="@Url.Action("Shop", "Home")" class="button" style="text-decoration: none; color: #7A6200;">Explore</a>
</div>

<br>
<br>
</div>
