@model ProductRecommendation
<div class="container">

<div>
    <div>
        <div style="display: flex; align-items: center;">
            @if (!string.IsNullOrEmpty(Model.ProductRec.ImgLink))
            {
                    <div style="flex: 1; max-height: 400px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                  
                        <img src="@Model.ProductRec.ImgLink" alt="Image for @Model.ProductRec.Name" style="width: 400px; height: 400px; object-fit: contain;">
                    
                </div>
            }
                <div style="flex: 1; padding: 20px; margin-left: 20px">
                    <h1 style="font-family: 'Baloo Thambi 2', sans-serif;">@Model.ProductRec.Name</h1>
                    <br>
                <h2 style="color: var(--black)">$@Model.ProductRec.Price</h2>
                    <br>
                <p>@Model.ProductRec.NumParts Parts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year: @Model.ProductRec.Year</p>
                <br><br>
                <form id=@Model.ProductRec.ProductId method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="Product_ID" value="@Model.ProductRec.ProductId">
                    <button type="submit" class="button">Add to Cart</button>
                </form>
            </div>
        </div>
        
        <div class="desc">
        <h3>Description</h3>
        <p>@Model.ProductRec.Description</p>
            </div>
        </div>

    </div>
</div>

<div class="container">
<h3>Similar Products</h3>
<div class="products-grid">
        <div class="product-item" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = @Model.Product_1.ProductId })'" style="cursor: pointer;">
            <!-- Grid item -->
            @if (!string.IsNullOrEmpty(@Model.Product_1.Name))
            {
                <div style="flex: 1; max-height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                    <img src="@Model.Product_1.ImgLink" alt="Image for @Model.Product_1.Name" style="width: 200px; height: 200px; object-fit: contain;">
                </div>
            }
            <p style="font-weight: bold;">@Model.Product_1.Name</p>
            <p>$@Model.Product_1.Price</p>
            
        </div>


        <div class="product-item" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = @Model.Product_2.ProductId })'" style="cursor: pointer;">
            <!-- Grid item -->
            @if (!string.IsNullOrEmpty(@Model.Product_2.Name))
            {
                <div style="flex: 1; max-height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                    <img src="@Model.Product_2.ImgLink" alt="Image for @Model.Product_2.Name" style="width: 200px; height: 200px; object-fit: contain;">
                </div>
            }
            <p style="font-weight: bold;">@Model.Product_2.Name</p>
            <p>$@Model.Product_2.Price</p>
            
        </div>

        <div class="product-item" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = @Model.Product_3.ProductId })'" style="cursor: pointer;">
            <!-- Grid item -->
            @if (!string.IsNullOrEmpty(@Model.Product_3.Name))
            {
                <div style="flex: 1; max-height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                    <img src="@Model.Product_3.ImgLink" alt="Image for @Model.Product_3.Name" style="width: 200px; height: 200px; object-fit: contain;">
                </div>
            }
            <p style="font-weight: bold;">@Model.Product_3.Name</p>
            <p>$@Model.Product_3.Price</p>

        </div>


        <div class="product-item" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = @Model.Product_4.ProductId })'" style="cursor: pointer;">
            <!-- Grid item -->
            @if (!string.IsNullOrEmpty(@Model.Product_4.Name))
            {
                <div style="flex: 1; max-height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                    <img src="@Model.Product_4.ImgLink" alt="Image for @Model.Product_4.Name" style="width: 200px; height: 200px; object-fit: contain;">
                </div>
            }
            <p style="font-weight: bold;">@Model.Product_4.Name</p>
            <p>$@Model.Product_4.Price</p>
        </div>
</div>
</div>

