@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<div>
    <h2>@Model.Name</h2>
    <div>
        @if (!string.IsNullOrEmpty(Model.ImgLink))
        {
            <img src="@Model.ImgLink" alt="Image for @Model.Name" style="max-width: 750px; height: auto;">
        }
        <p>Price: $@Model.Price</p>
        <p>Year: @Model.Year</p>
        <p>Number of Parts: @Model.NumParts Parts</p>
        <p>Description: <br />@Model.Description</p>
    </div>

    <form id=@Model.ProductId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="ProductId" />
        <button type="submit" class="btn btn-outline-success">Add to Cart</button>
    </form>
</div>




