

<div class = "container">
    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="CreateProduct">Add Product</a>
<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Year</th>
            <th>Parts</th>
            <th>Price</th>
            <th>Image Link</th>
            <th>Primary Color</th>
            <th>Secondary Color</th>
            <th>Description</th>
            <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Year</td>
                <td>@product.NumParts</td>
                <td>@product.Price.ToString("C")</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ImgLink))
                    {
                        <a href="@product.ImgLink">View Image</a>
                    }
                </td>
                <td>@product.PrimaryColor</td>
                <td>@product.SecondaryColor</td>
                    <td style="width: 300px !important;">@(product.Description.Length > 80 ? product.Description.Substring(0, 80) + "..." : product.Description)</td>

                <td>@product.Category</td>
                <td><a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@product.ProductId">✎</a></td>
                <td><a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@product.ProductId">🗑</a></td>
            </tr>
        }
    </tbody>
</table>
</div>