@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
<div class="container">

<div>
    <div>
        <div style="display: flex; align-items: center;">
            @if (!string.IsNullOrEmpty(Model.ImgLink))
            {
                    <div style="flex: 1; max-height: 400px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                  
                        <img src="@Model.ImgLink" alt="Image for @Model.Name" style="width: 400px; height: 400px; object-fit: contain;">
                    
                </div>
            }
                <div style="flex: 1; padding: 20px; margin-left: 20px">
                    <h1 style="font-family: 'Baloo Thambi 2', sans-serif;">@Model.Name</h1>
                    <br>
                <h2 style="color: var(--black)">$@Model.Price</h2>
                    <br>
                <p>@Model.NumParts Parts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year: @Model.Year</p>
                <br><br>
                <form id=@Model.ProductId method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="ProductId" />
                    <button type="submit" class="button">Add to Cart</button>
                </form>
            </div>
        </div>
        
        <div class="desc">
        <h3>Description</h3>
        <p>@Model.Description</p>
            </div>
        </div>

    </div>
</div>




