@{    
    ViewData["Title"] = "Shop";
}

<div class="row m-1 p-1">
    <div class="col-3">
        <vc:product-category />
    </div>
</div>

<div class="col-9">
    @model ProductsListViewModel

    <h1>Shopping List</h1>
     
    @foreach (Product p in Model.Products)
    {
        <h3>@p.Name</h3>

        <ul>
            <li>Price: @p.Price</li>
            <li>Year: @p.Year</li>
        </ul>
    }

    <div page-model="@Model.PaginationInfo" page-action="Shop" page-url-productCategory="@Model.CurrentProductCategory"></div>
</div>