@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{    
    ViewData["Title"] = "Shop";
}


<div class="row m-1 p-1">
    <div class="col-3">
        <vc:product-category />
    </div>
</div>

<div class="col-9">
    @model ProductsListViewModel

    <h1>Shopping List</h1>
     
   

    @foreach (Product p in Model.Products)
    {
        <h3>@p.Name</h3>
            
        <ul>
            <li>Price: @p.Price</li>
            <li>Year: @p.Year</li>
        </ul>

        <h3>
            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@p.ProductId" class="btn btn-secondary">Show Details</a>
        </h3>
    }
    <div class="pagination">
        @for (int i = 1; i <= Model.PaginationInfo.TotalNumPages; i++)
        {
            <a href="@Url.Action("Shop", new { pageNum = i, productCategory = Model.CurrentProductCategory })" class="page @(Model.PaginationInfo.CurrentPage == i ? "active" : "")">@i</a>
        }
    </div>
</div>